---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />
		<br>
		<br>
		<main>
			<h1>Seguridad de la informacion</h1>
			<p>
				Bienvenidos a Security blog, en este blog podras aprender conceptos nuevos sobre la seguridad de la informacion.
			</p>
			<h5>
				Que es la seguridad de la información?
			</h5>
			<p>
				La seguridad de la información es el conjunto de medidas y técnicas utilizadas para controlar y salvaguardar todos los datos que se manejan dentro de la organización y asegurar que los datos no salgan del sistema que ha establecido la organización. Es una pieza clave para que las empresas puedan llevar a cabo sus operaciones, ya que los datos que maneja son esenciales para la actividad que desarrollan.
			</p>
			<img src="/seguridad-informacion.jpg" alt="" srcset="">
		</main>
		<Footer />
	</body>
</html>
